.Contact{
    text-align:  center;
}
.Contact h2 span{
    font-weight: 700;
    border-bottom: 3px solid #ed553b;
}
.Contact div{
    padding: 1em;
}
.Contact .icons{
    padding-top: 0 ;
}
.Contact .wf-icon{
    font-size: 50px;
    color: rgb(45 45 45)
}


/* for large device */
@media only screen and (min-width:1024px){
    .Contact .icons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
        margin: 0 9vw;
        
    }
}