.Header{
    background-color: #232D39 !important;
    padding: 10px 9vw;
}
.selected{
    color: #ed553b;
    font-weight: 700;

}
.Header a{
    color: white !important;
}
.Header .logo{
    font-weight: 700;
    margin-right: auto;
    font-size: 2em;
}
.Header .logo a{
    font-size: 30px;
}
.Header .logo span{
    color: #ed553b;
}
.wf-btn-primary{
    border-radius: 40px;
    padding: .25em 1.3em;
    background-color: #ed553b;
    border: none;
    color: white;
}

.wf-btn-secondary{
    padding: .2em 1.3em ;
    border: 2px solid #ed553b;
    border-radius: 20px;
    color: white;
    background: none ;
}
.navbar-toggler-icon{
    color: white !important;
}